<footer class="theme-footer">
  <div class="footer-wrapper">
    <div class="flex align-item-center">
      <div class="col m-y-5">
        <!-- <p class="m-0"
          >Shark Ui &#9829; crafted by Team <a href="https://themeforest.net/user/phoenixcoded" target="_blank">Phoenixcoded</a>
        </p> -->
      </div>
      <div class="col-auto">
        <ul class="list-inline footer-link m-b-0">
          <li class="list-inline-item"><a href="https://phoenixcoded.authordesk.app/" target="_blank">Support: call 8012717824</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
